<div class="card container">
  {{#each reviews as |review|}}
    {{#if review.reviews}}
      {{#each review.reviews as |review|}}
        {{! <ul id="testDiv" class="list-group"> }}
        {{! <li class="list-group-item"> }}
        <h2>{{review.title}}</h2>
        <hr />
        {{! </li> }}
        {{! <li> }}
        <p>{{review.review_content}}</p>
        {{! </li> }}
        {{! </ul> }}
      {{/each}}
    {{/if}}
  {{/each}}
</div>

{{!-- <div id="userProfile" class="container card col-3">
  <div class="card-header">
    {{#each reviews as |review|}}
      {{#if review.reviews}}
        {{#each review.reviews as |review|}}
          <div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Title:
                {{review.title}}
              </li>
              <li>{{review.username}}</li>
              <li class="list-group-item">Review: {{review.review_content}}</li>
            </ul>
            <hr />
          </div>
        {{/each}}
      {{/if}}
    {{/each}}
  </div>
</div> --}}